//$bottom-nav-color: color($color1, light, 6);
$bottom-nav-bg-color: $grey-245;
$bottom-nav-color: $grey-180;
$bottom-nav-color-active: $color1;

.bottom-nav {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 110;
}

.bottom-nav_cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 58px;
  //background-color: $color1;
  background-color: $bottom-nav-bg-color;
  font-size: 11px;
  @include sm {
    height: 60px;
    font-size: 14px;
  }
  @include lg {
    display: none;
  }
  & > * {
    display: block;
    position: relative;
    height: 54px;
    width: 66px;
    text-align: center;
    padding-top: 8px;
    color: $bottom-nav-color;
    @include sm {
      padding-top: 6px;
      width: 86px;
    }
    &.active {
      color: $bottom-nav-color-active;
      svg {
        stroke: $bottom-nav-color-active;
      }
    }
  }
  svg {
    display: block;
    height: 22px;
    margin: 0 auto 4px auto;
    fill: none;
    stroke-width: 1.6;
    stroke: $bottom-nav-color;
    @include sm {
      margin: 0 auto 3px auto;
    }
  }
  .badge-round, .badge-round-red, .badge-round-grey {
    top: 2px;
    right: 14%;
    @include sm {
      right: 20%;
    }
  }
}

.bottom-menu_cont {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 99;
  background-color: white;
  display: none;
  .dropdown-list {
    margin-top: 0.25rem;
  }
}

.bottom-menu_list {
  li {
    line-height: 1.3em;
  }
  li:not(:last-child) {
    margin-bottom: 0.7em;
  }
}

.bottom-menu_close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 26px;
  height: 26px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  svg {
    width: 18px;
    height: 18px;
    stroke: $header-grey-color1;
    stroke-width: 2.2;
    fill: none;
  }
}

.bottom-nav_filters-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 0.75rem;
  .bottom-nav_filters-cont {
    flex: 1;
    overflow-y: auto;
  }
}