#catalogNavDesktop {
  display: none;
  padding: 8px 16px 8px 12px;
  @include lg {
    display: flex;
    gap: 2rem;
  }
}

.catalog-desktop-root-list {
  white-space: nowrap;

  & > li, div {
    height: 32px;
    color: black;
  }

  & > li {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 8px 0 6px;
    cursor: pointer;
    border-left: 4px solid white;
    transition-property: color, border-left-color;
    transition-duration: 0.3s;

    &.active {
      color: $color1;
      border-left-color: $color2;
      transition-property: color, border-left-color;
      transition-duration: 0.3s;
    }
  }

  .icon-cont {
    width: 24px;
  }

  .item-text {
    display: block;
    padding-top: 2px;
  }
}

.root-category-icon {
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: color($color1, light, 4);
}

.catalog-desktop-body-cont {
  column-count: 3;
  column-gap: 1.25rem;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  border-left: solid 1px $grey-230;
  display: none;

  h6 {
    margin-bottom: 0.6rem;
  }

  section {
    margin-bottom: 1.75rem;
    break-inside: avoid-column;
    max-width: 250px;

    li, ul.dropdown-list li {
      line-height: 1.25rem;
    }

    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    ul.dropdown-list li:not(:last-child) {
      margin-bottom: 0;
    }

    .icon-chevron-right {
      vertical-align: 2px;
    }
  }

  .section-item {
    display: block;
    cursor: pointer;
    color: $grey-120;

    &:hover {
      color: $color1;
      .icon-chevron-right {
        color: $grey-120;
      }
    }

    &.inactive {
      color: $grey-200;
    }
  }

  .product-count {
    color: $grey-210;
  }

  @include xl {
    column-gap: 2rem;
    padding-left: 2.25rem;
    font-size: 1rem;
  }
}
