#catalogNavMobile {
  display: block;
  max-height: 425px;
  overflow-y: auto;

  @include sm {
    max-height: 800px;
  }

  @include lg {
    display: none;
  }
}

.catalog-mobile-menu {
  --icon-gap: 6px;
  --padding-left: 16px;
  --icon-width: 24px;
  --initial-padding: calc(var(--padding-left) + var(--icon-width) + var(--icon-gap));
  --step-padding: 12px;

  font-size: 16px;

  li {
    line-height: 1.3;
  }

  @include sm {
    --icon-gap: 7px;
    --icon-width: 26px;
    --step-padding: 16px;

    font-size: 18px;
  }
}

.catalog-mobile-menu_root-btn {
  display: flex;
  align-items: center;
  gap: var(--icon-gap);
  padding: 0 var(--padding-left);
  height: 32px;

  &.active {
    color: $color1;
  }

  @include sm {
    height: 36px;
  }
}

.catalog-mobile-menu_icon {
  width: var(--icon-width);
}

.catalog-mobile-menu_root-btn_text {
  padding-top: 3px;
}

.catalog-mobile-menu_sublist {
  display: none;
}

.catalog-mobile-menu_sub-btn {
  display: block;
  padding-top: 6px;
  padding-bottom: 5px;
  color: $grey-150;

  &.level2 { padding-left: var(--initial-padding); }
  &.level3 { padding-left: calc(var(--initial-padding) + var(--step-padding)*1); }
  &.level4 { padding-left: calc(var(--initial-padding) + var(--step-padding)*2); }

  &.active {
    background-color: rgb(245, 245, 245);
  }

  &.empty {
    color: $grey-200;
  }

  .icon-chevron {
    font-size: $font-size-xsm;
    margin-left: 4px;
    vertical-align: 1px;
  }

  .sku-count {
    color: $grey-210;
  }

  @include sm {
    padding-top: 7px;
    padding-bottom: 6px;
  }
}

