footer {
  background-color: #f4f4f6;
  padding: 2rem 0 1.2rem 0;
  margin-top: 3.5rem;
}

.footer-main-cont {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-copyright-cont {
  color: $grey-150;
  text-align: center;
  font-size: $font-size-sm;

  hr {
    margin: 2rem 0 1.2rem 0;
    height: 1px;
    background-color: #d7d7d7;
    border: 0;
  }
}

.footer-logo-cont {
  width: 100%;
  padding-right: 3rem;
  margin-bottom: 0.5rem;

  @include lg {
    width: auto;
  }

  .logo {
    width: var(--logo-width1);
    @include sm {
      width: var(--logo-width2);
    }
  }
}

.footer-col-cont {
  flex: 1 1 200px;

  @include lg {
    flex: 0 1 220px;
  }

  @include xl {
    flex: 0 1 260px;
  }
}

.footer-list {
  font-size: $font-size-sm;

  @include sm {
    font-size: $font-size-base;
  }

  li {
    line-height: 1.2;
    margin-bottom: 0.6rem;
  }
}

.footer_section-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;

  @include sm {
    font-size: 1.125rem;
  }
}

.footer-list_link {
  display: block;
  width: fit-content;
  cursor: pointer;
  color: $grey-120;

  &:hover {
    color: $text-color;
  }
}
