.catalog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: var(--logo-width1);
  height: 40px;
  padding: 0;
  font-size: $cat-btn-font-size;
  @include xl {
    width: var(--logo-width2);
    font-size: $cat-btn-font-size * 1.125;
  }

  .catalog-btn_title {
    line-height: 1;
  }
  .catalog-btn_icon {
    position: relative;
    width: 16px;
    height: 16px;

    .svg-catalog-list {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 15px;
      height: 14px;
      stroke: color($color1, light, 4);
      fill: none;
    }
    .svg-close {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      stroke: color($color1, light, 4);
      stroke-width: 3;
      fill: none;
      display: none;
    }
  }
}

@mixin nav-horiz-list {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav-list-top {
  @include nav-horiz-list;
  gap: 1.25rem;

  a, div {
    cursor: pointer;
    color: $grey-120;
    &:hover {
      color: $color1;
      svg {
        stroke: color($color1, light, 3);
      }
    }
    font-size: 14px;
    @include xxl {
      font-size: 16px;
    }
  }
  .tel {
    margin-left: auto;
    svg {
      width: 17px;
      height: 17px;
      stroke: $grey-180;
      fill: none;
      vertical-align: -3px;
      margin-right: 2px;
    }
  }
}

@mixin menu-inline-svg {
  width: 22px;
  height: 22px;
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $grey-200;
  vertical-align: -5px;
  margin-left: -4px;
  margin-right: 2px;
}

.nav-list-user {
  @include nav-horiz-list;
  font-size: 12px;

  @include xxl {
    font-size: 14px;
  }
  line-height: 14px;
  & > li {
    display: block;
    width: 68px;
    @include xxl {
      width: 78px;
    }
  }

  .outline-btn {
    display: block;
    cursor: pointer;
    position: relative;
    text-align: center;
    color: $grey-150;

    svg {
      display: block;
      height: 21px;
      margin: 0 auto 6px auto;
      fill: none;
      stroke-width: 1.6;
      stroke: $grey-180;
    }

    &:hover {
      color: color($color1, light, 2);
      svg {
        stroke: color($color1, light, 2);
      }
    }
  }

  .user-btn {
    padding-bottom: 2px;

    svg, img {
      display: block;
      width: 38px;
      height: 38px;
      margin: 0 auto;
      border-radius: 50%;
    }

    #userIconBG {
      fill: $grey-240;
    }
    #userIconHead, #userIconBody {
      fill: $grey-210;
    }

    &:hover {
      #userIconBG {
        fill: color($color1, light, 9);
      }
      #userIconHead, #userIconBody {
        fill: color($color1, light, 6);
      }
    }
  }

  .dropdown-list {
    margin-top: 12px;
    font-size: $font-size-base;
  }

  .user-dd-btn {
    position: relative;
    cursor: pointer;
    text-align: left;
    color: $grey-90;

    &:hover {
      color: color($color1, light, 2);

      svg {
        stroke: color($color1, light, 4);
      }
    }

    svg {
      @include menu-inline-svg;
    }
  }

  .user-dd-name {
    margin-bottom: 4px;
    color: color($color1, light, 2);
  }
}
