.catalog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: var(--logo-width1);
  height: 40px;
  padding: 0;
  font-size: $cat-btn-font-size;
  @include xl {
    width: var(--logo-width2);
    font-size: $cat-btn-font-size * 1.125;
  }

  .catalog-btn_title {
    line-height: 1;
  }
  .catalog-btn_icon {
    position: relative;
    width: 16px;
    height: 16px;

    .svg-catalog-list {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 15px;
      height: 14px;
      stroke: color($color1, light, 4);
      fill: none;
    }
    .svg-close {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      stroke: color($color1, light, 4);
      stroke-width: 3;
      fill: none;
      display: none;
    }
  }
}


.nav-list-top {
  a, div {
    cursor: pointer;
    color: $grey-120;
    &:hover {
      color: $color1;
      svg {
        stroke: color($color1, light, 3);
      }
    }
    font-size: 14px;
    @include xxl {
      font-size: 16px;
    }
  }
  .tel {
    margin-left: auto;
    svg {
      width: 17px;
      height: 17px;
      stroke: $grey-180;
      fill: none;
      vertical-align: -3px;
      margin-right: 2px;
    }
  }
}

.nav-list-user {
  gap: 0;
  font-size: 12px;
  @include xxl {
    font-size: 14px;
  }
  line-height: 14px;
  & > li {
    display: block;
    width: 68px;
    @include xxl {
      width: 78px;
    }
  }
  li > a, li > div {
    display: block;
    cursor: pointer;
    position: relative;
    text-align: center;
    color: $grey-150;
    &:hover {
      color: color($color1, light, 2);
      svg {
        stroke: color($color1, light, 2);
      }
    }
  }
  svg {
    display: block;
    height: 21px;
    margin: 0 auto 6px auto;
    fill: none;
    stroke-width: 1.6;
    stroke: $grey-180;
  }
  .dropdown-list {
    margin-top: 12px;
  }
  .dropdown-list li > a {
    text-align: left;
    font-size: 16px;
    color: $grey-120;
    &:hover {
      color: color($color1, light, 2);
    }
  }
  .dropdown-list li:not(:last-child) {
    margin-bottom: 1em;
  }
}
