$search-input-height: 40px;

.search-form {
  position: relative;
  height: $search-input-height;
}

.search_results_cont {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100%;
  min-height: $search-input-height;
  padding-top: $search-input-height;
  background-color: white;
  @if $border-radius-base > 0 {
    border-radius: $border-radius-base;
  }
  @include dropdown-shadow;
  display: none;
}

.search_results_cont_inner {
  width: 100%;
  max-height: 280px;
  @if $border-radius-base > 0 {
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }
  overflow-y: auto;
  @include md {
    max-height: 340px;
  }
}

.search-result_block {
  display: block;
  width: 100%;
  height: 60px;
  padding: 4px 8px;
  img {
    display: block;
    height: 52px;
    float: left;
    margin-right: 12px;
  }
  .product-title {
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .product-price {
    color: rgb(180, 180, 180);
  }
}

.search-result_brand-block {
  display: block;
  width: 100%;
  height: 28px;
  padding: 2px 14px;
}

.search-result_block:hover,
.search-result_brand-block:hover {
  background-color: #f5f5f5;
}

.search_result_resnum {
  padding: 2px 14px;
}

.search-result_count-block {
  display: block;
  width: 100%;
  height: 34px;
  padding: 4px 14px;
}

.search-input {
  position: absolute;
  z-index: 102;
  width: 100%;
  height: $search-input-height;
  padding-left: 14px;
  padding-right: 70px;
  @if $border-radius-base > 0 {
    border-radius: $border-radius-base;
  }
  border: 1px solid white;
  outline: 0;
  &.bordered {
    border-color: color($color1, light, 5);
  }
  &::placeholder {
    color: $header-grey-color2;
  }
}

.search-btn,
.clear-btn {
  position: absolute;
  z-index: 103;
  top: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
}

.search-btn {
  margin-top: -16px;
  padding: 7px 0;
  right: 6px;
  &:hover {
    svg {
      stroke: color($color1, light, 4);
    }
  }
  svg {
    width: 18px;
    height: 18px;
    stroke: $header-grey-color1;
    fill: none;
  }
}

.clear-btn {
  display: none;
  margin-top: -16px;
  right: 38px;
  font-size: 14px;
  line-height: 34px;
  color: $grey-220;
  &:hover {
    color: color($color1, light, 4);
  }
}
