html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $font;
  font-size: $font-size-base;
  line-height: 1.55;
  -webkit-tap-highlight-color: rgba($color1, 0.1);
}

a {
  text-decoration: none;
  color: $text-color;
}

p {
  margin: 0 0 0.75rem 0;
}


// ---------- Text colors -----------

.grey-text {
  color: rgb(140, 140, 140);
}

.lightgrey-text {
  color: $grey-180;
}

.red-text {
  color: $color-red;
}



// ---------- Forms -----------

label {
  display: inline-block;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="password"] {
  font-family: $system-stack;
}

input[type="checkbox"] {
  cursor: pointer;
}

select {
  cursor: pointer;
}

.invalid-cont {
  color: $color-red;
  display: none;
  margin-top: 0.5rem;
}

.required:after {
  content:" *";
  color: $color-red;
}

// 1. Inherit font family and line height for file input buttons
// 2. Correct the inability to style clickable types in iOS and Safari.

::file-selector-button {
  font: inherit; // 1
  -webkit-appearance: button; // 2
}


// --------- Headers -----------

@each $size, $mult in $h-font-sizes {
  h#{$size} {
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.4;

    @if $size < 5 {
      font-size: $font-size-base * ($mult - 0.25);
      @include sm {
        font-size: $font-size-base * $mult;
      }
    } @else {
      font-size: $font-size-base * $mult;
    }
  }
}


// --------- Container -------------

$container-x-margins: 1rem;

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 $container-x-margins;
}

@each $key, $val in $breakpoints {
  @media only screen and (min-width: $val) {
    .container {
      max-width: map-get($container-max-widths, $key);
    }
  }
}


// --------- Lists -------------

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.text-list {
  list-style: unset;
  padding-left: 1.75rem;
}


// ------------- Tables (copied from Bootstrap's _reboot.scss) ---------------

// Prevent double borders
table {
  caption-side: bottom;
  border-collapse: collapse;
}

// Add bottom borders
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}



// -------- Prevent scrolling when any modal is opened ----------

html.noscroll-mobile {
  overflow: hidden;
}


// -------- Main layout --------

.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-top: 1rem;
}

.page-tint,
.modal-tint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: $dark-tint-opacity;
  display: none;
}

.page-tint {
  z-index: 99;
}
.modal-tint {
  z-index: 200;
}


// ---------- Other ----------

.dev-monitor {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 30px;
  font-size: $font-size-sm;
  color: $grey-150;
  @include lg {
    display: block;
  }
}
