html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $font;
  font-size: $font-size-base;
  line-height: 1.55;
  -webkit-tap-highlight-color: rgba($color1, 0.1);
}

a {
  text-decoration: none;
  color: $text-color;
}


// ---------- Text colors -----------

.grey-text {
  color: rgb(140, 140, 140);
}

.lightgrey-text {
  color: rgb(180, 180, 180);
}



// ---------- Forms -----------

label {
  display: inline-block;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}



// --------- Headers -----------

@each $size, $mult in $h-font-sizes {
  h#{$size} {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: $font-size-base * $mult;
    line-height: 1.2;
  }
}


// --------- Container -------------

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@each $key, $val in $breakpoints {
  @media only screen and (min-width: $val) {
    .container {
      max-width: map-get($container-max-widths, $key);
    }
  }
}


// --------- Lists -------------

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


// -------- Navigation ----------

nav > ul {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  white-space: nowrap;
}


// -------- Prevent scrolling when any modal is opened ----------

html.noscroll-mobile {
  overflow: hidden;
}


// -------- Main layout --------

.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-top: 1rem;
}

.win-tint,
.main-tint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  opacity: $dark-tint-opacity;
}

.win-tint {
  z-index: 200;
}

.main-tint {
  z-index: 99;
}


// ---------- Other ----------

.dev-monitor {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 40px;
  font-size: $font-size-sm;
  color: $grey-150;
  @include lg {
    display: block;
  }
}