$margins-and-paddings: (
  'm': margin,
  'mx': margin-left margin-right,
  'my': margin-top margin-bottom,
  'mt': margin-top,
  'me': margin-right,
  'mb': margin-bottom,
  'ms': margin-left,
  'p': padding,
  'px': padding-left padding-right,
  'py': padding-top padding-bottom,
  'pt': padding-top,
  'pe': padding-right,
  'pb': padding-bottom,
  'ps': padding-left,
);

@each $key, $val in $margins-and-paddings {
  @each $s-key, $s-val in $spacers {
    .#{$key}-#{$s-key} {
      @each $prop in $val {
        #{$prop}: $s-val;
      }
    }
  }

  .#{$key}-auto {
    @each $prop in $val {
      #{$prop}: auto;
    }
  }
}

@for $i from 1 to 5 {
  .va#{$i} {
    vertical-align: #{$i}px;
  }

  .va-#{$i} {
    vertical-align: -#{$i}px;
  }
}

.large {
  font-size: $font-size-lg;
}

.small {
  font-size: $font-size-sm;
}

.xsmall {
  font-size: $font-size-xsm;
}

.fw-light {
  font-weight: $font-weight-light;
}

.fw-semibold {
  font-weight: $font-weight-semibold;
}

.fw-bold {
  font-weight: $font-weight-bold;
}

.fst-italic {
  font-style: italic;
}

.w-fit {
  width: fit-content;
}

.text-center {
  text-align: center;
}