$margins-and-paddings: (
  'm': margin,
  'mx': margin-left margin-right,
  'my': margin-top margin-bottom,
  'mt': margin-top,
  'me': margin-right,
  'mb': margin-bottom,
  'ms': margin-left,
  'p': padding,
  'px': padding-left padding-right,
  'py': padding-top padding-bottom,
  'pt': padding-top,
  'pe': padding-right,
  'pb': padding-bottom,
  'ps': padding-left,
);

@each $key, $val in $margins-and-paddings {
  @each $s-key, $s-val in $spacers {
    .#{$key}-#{$s-key} {
      @each $prop in $val {
        #{$prop}: $s-val;
      }
    }
  }

  .#{$key}-auto {
    @each $prop in $val {
      #{$prop}: auto;
    }
  }
}

.mb-55 { margin-bottom: 3rem }
.mb-6 { margin-bottom: 3.5rem }
.mb-65 { margin-bottom: 4rem }
.mb-7 { margin-bottom: 5rem }

@for $i from 1 to 5 {
  .va#{$i} {
    vertical-align: #{$i}px;
  }

  .va-#{$i} {
    vertical-align: -#{$i}px;
  }
}


// Font sizes
@each $size, $mult in $h-font-sizes {
  .fs-#{$size} {
    @if $size < 5 {
      font-size: $font-size-base * ($mult - 0.25);
      @include sm {
        font-size: $font-size-base * $mult;
      }
    } @else {
      font-size: $font-size-base * $mult;
    }
  }
}


.large {
  font-size: $font-size-lg;
}

.small {
  font-size: $font-size-sm;
}

.xsmall {
  font-size: $font-size-xsm;
}

.fw-normal {
  font-weight: $font-weight-normal;
}

.fw-light {
  font-weight: $font-weight-light;
}

.fw-semibold {
  font-weight: $font-weight-semibold;
}

.fw-bold {
  font-weight: $font-weight-bold;
}

.fst-italic {
  font-style: italic;
}

.w-fit {
  width: fit-content;
}

.w-100 {
  width: 100%;
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.d-block {
  display: block;
  width: fit-content;
}

.hidden {
  display: none;
}