// Main
$color1: #716ef6;
//$color1: #d75283;
$color2: #aff66e;
$color3: #f6b56e;

$color-success: #9cf351;
$color-warning: #ffc966;
//$color-warning: #ffc61d;
$color-red: #e2347a;

// Greys
$grey-30: rgb(30, 30, 30);
$grey-60: rgb(60, 60, 60);
$grey-90: rgb(90, 90, 90);
$grey-120: rgb(120, 120, 120);
$grey-150: rgb(150, 150, 150);
$grey-180: rgb(180, 180, 180);
$grey-200: rgb(200, 200, 200);
$grey-210: rgb(210, 210, 210);
$grey-220: rgb(220, 220, 220);
$grey-230: rgb(230, 230, 230);
$grey-235: rgb(235, 235, 235);
$grey-240: rgb(240, 240, 240);
$grey-245: rgb(245, 245, 245);



// --------------- Breakpoints ------------------

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



// --------------- Container ------------------

$container-max-widths: (
  xl: 1140px,
  xxl: 1320px
);



// --------------- Spacers (for margins and paddings) ------------------

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  25: $spacer * .75,
  3: $spacer,
  35: $spacer * 1.25,
  4: $spacer * 1.5,
  45: $spacer * 1.75,
  5: $spacer * 2.25,
  6: $spacer * 3,
);



// --------------- Styles ------------------

$border-radius-base: 6px;

$dark-tint-opacity: 0.2;
