.order-edit_btns-cont {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  form {
    flex: 1 1 100%;

    @include sm {
      flex: unset;
    }

    button {
      width: 100%;
    }
  }
}

.order-edit_cancel-form {
  margin-left: auto;
}
