.product-index_cont1 {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.product-index_search-category {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex: 1;
  order: 1;

  @include sm {
    order: 0;
  }

  @include md {
    order: 1;
  }

  @include xl {
    order: 0;
  }
}

.product-index_search {
  flex: 1;
  flex-basis: 100%;
  position: relative;

  @include md {
    flex-basis: auto;
  }
}

.product-index_category {
  flex: 1;

  @include md {
    flex-basis: auto;
  }
}

.product-index_add-btn {
  order: 0;
  flex-basis: 100%;

  @include sm {
    order: 1;
    flex-basis: auto;
  }

  @include md {
    order: 0;
    flex-basis: 100%;
  }

  @include xl {
    order: 1;
    flex-basis: auto;
  }

  .btn {
    padding: 0.4rem 1.5rem 0.4rem 1.25rem;
  }
}
