.user-edit_email-verified {
  font-style: italic;
  color: $color-success-text;
}

.user-edit_email-not-verified {
  font-style: italic;
  color: $color-red;
}

.user-edit_img-cont {
  width: 200px;
  height: 200px;

  img {
    width: 100%;
  }
}

.user-edit_ban_switch:checked {
  background-color: $color-red;
  border-color: $color-red;
  -webkit-tap-highlight-color: rgba($color-red, 0.1);
}