.catalog-nav-cont {
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 100%;
  padding: 0.8rem 0 1rem 0;
  background-color: white;
  display: none;
}

#catalogNavDesktop {
  display: none;
  @include lg {
    display: block;
  }
}

#catalogNavMobile {
  display: block;
  @include lg {
    display: none;
  }
}
