.catalog-nav-cont {
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 100%;
  padding: 0.25rem 0 0.5rem 0;
  background-color: white;
  display: none;
}

#catalogNavDesktop {
  display: none;
  @include lg {
    display: block;
  }
}

#catalogNavMobile {
  display: block;
  max-height: 425px;
  overflow-y: auto;
  @include sm {
    max-height: 800px;
  }
  @include lg {
    display: none;
  }
}
