$cat-btn-font-size: 16px;
$header-grey-color1: #c8c8c8; // 200
$header-grey-color2: #b4b4b4; // 180
$header-grey-color3: #969696; // 150
$header-grey-color4: #787878; // 120

header {
  --logo-width1: 138px;
  --logo-width2: 177px;
  --row1-height: 44px;
  --margin-top: 10px;
  width: 100%;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  @include lg {
    top: calc(-1 * calc(var(--row1-height) + var(--margin-top)));
  }
}



// -------------------------- Desktop header -----------------------------

#desktopHeader {
  display: none;
  margin-top: var(--margin-top);
  @include lg {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: var(--row1-height) 58px;
    align-items: center;
    column-gap: 18px;
  }
  @include xl {
    column-gap: 26px;
  }

  .top-center {
    display: none;
    background-color: #d3b8f1;
    @include lg {
      display: block;
    }
  }

  .top-right {
    background-color: #b8f1e8;
  }

  .bottom-left {
  }

  .bottom-center {
    background-color: #81e6bd;
  }

  .bottom-right {
    background-color: #c8e6a2;
  }
}


.header-logo {
  /*
  img {
    display: block;
    width: var(--logo-width1);
    @include lg {
      width: var(--logo-width1);
    }
    @include xl {
      width: var(--logo-width2);
    }
  }
  */

  .logo {
    width: var(--logo-width1);
    @include lg {
      width: var(--logo-width1);
    }
    @include xl {
      width: var(--logo-width2);
    }
  }
}

.catalog-btn {
  width: var(--logo-width1);
  font-size: $cat-btn-font-size;
  @include xl {
    width: var(--logo-width2);
    font-size: $cat-btn-font-size * 1.125;
  }
  svg {
    width: 15px;
    height: 14px;
    stroke: color($color1, light, 4);
    fill: none;
  }
}



// --------------------------- Mobile header -----------------------------

#mobileHeader {
  display: flex;
  align-items: center;
  height: 65px;
  @include lg {
    display: none;
  }
}

.catalog-btn-small {
  display: block;
  width: 40px;
  height: 40px;
  padding: 11px 0;
  svg {
    width: 20px;
    height: 12px;
    stroke: color($color1, light, 4);
    fill: none;
  }
}

.header-logo-mobile {
  flex: 1;
  .logo {
    margin: 0 auto;
    width: var(--logo-width1);
    @include sm {
      width: var(--logo-width2);
    }
  }
}

.search-btn-mobile {
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px 0;
  background: none;
  &:hover {
    background: none;
  }
  svg {
    width: 29px;
    height: 29px;
    stroke: $header-grey-color1;
    fill: none;
  }
}
