$cat-btn-font-size: 16px;

header {
  --logo-width1: 138px;
  --logo-width2: 177px;
  --header-row1-height: 44px;
  width: 100%;
}

#desktopHeader {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: 65px;
  grid-template-areas:
          'bl l tr';
  align-items: center;
  background-color: #edf0f3;
  @include lg {
    grid-template-rows: var(--header-row1-height) 58px;
    grid-template-areas:
          'l tc tr'
          'bl bc br';
  }

  .top-center {
    grid-area: tc;
    display: none;
    background-color: #d3b8f1;
    @include lg {
      display: block;
    }
  }

  .top-right {
    grid-area: tr;
    background-color: #b8f1e8;
  }

  .bottom-left {
    grid-area: bl;
  }

  .bottom-center {
    grid-area: bc;
    display: none;
    background-color: #81e6bd;
    @include lg {
      display: block;
    }
  }

  .bottom-right {
    grid-area: br;
    display: none;
    background-color: #c8e6a2;
    @include lg {
      display: block;
    }
  }
}


.header-logo {
  grid-area: l;
  justify-self: center;
  @include xl {
    padding-right: 26px;
  }
  @include lg {
    padding-right: 18px;
    justify-self: start;
  }
  img {
    display: block;
    width: var(--logo-width1);
    @include sm {
      width: var(--logo-width2);
    }
    @include lg {
      width: var(--logo-width1);
    }
    @include xl {
      width: var(--logo-width2);
    }
  }
}

.catalog-btn {
  width: var(--logo-width1);
  font-size: $cat-btn-font-size;
  display: none;
  @include lg {
    display: block;
  }
  @include xl {
    width: var(--logo-width2);
    font-size: $cat-btn-font-size * 1.125;
  }
  svg {
    width: 15px;
    height: 14px;
    stroke: color($color1, light, 4);
  }
}

.catalog-btn-small {
  display: block;
  width: 40px;
  height: 40px;
  padding: 11px 0;
  svg {
    width: 20px;
    height: 12px;
    stroke: color($color1, light, 4);
    fill: none;
  }
  @include lg {
    display: none;
  }
}


.sticky {
  position: fixed;
  top: calc(-1 * var(--header-row1-height));
}


/*
.header_row1 {
  background-color: #edf0f3;
  display: none;
  height: 44px;
  margin-top: 10px;
  @include lg {
    display: flex;
  }

  .logo-cont {
    background-color: #e3e6b8;
  }

  .nav-cont {
    background-color: #e6cdb8;
  }

  .lang-cont {
    background-color: #b8e6d4;
  }
}

.header_row2 {
  background-color: #dddaee;
  display: none;
  height: 58px;
  @include lg {
    display: flex;
  }
}

.header_mobile {
  background-color: #daeedf;
  display: flex;
  height: 62px;
  margin-top: 3px;
  @include lg {
    display: none;
  }
}

*/