header {
  margin-bottom: 1rem;
}

$cat-btn-font-size: 16px;

header {
  --logo-width1: 138px;
  --logo-width2: 177px;

  & > .container {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 50px 50px;
    grid-template-areas:
            'bl l tr'
            'bc bc bc';
    align-items: center;
    background-color: #a3c5e6;
    @include lg {
      grid-template-areas:
            'l tc tr'
            'bl bc br';
    }
  }

  .logo {
    grid-area: l;
    background-color: #e6d2e3;
    @include xl {
      padding-right: 26px;
    }
    @include lg {
      padding-right: 18px;
    }
    img {
      display: block;
      width: var(--logo-width1);
      @include xl {
        width: var(--logo-width2);
      }
    }
  }

  .top-center {
    grid-area: tc;
    display: none;
    background-color: #d3b8f1;
    @include lg {
      display: block;
      padding-right: 18px;
    }
  }

  .top-right {
    grid-area: tr;
    background-color: #b8f1e8;
  }

  .bottom-left {
    grid-area: bl;
    background-color: #74a6e6;
    .catalog-btn {
      width: var(--logo-width1);
      font-size: $cat-btn-font-size;
      @include xl {
        width: var(--logo-width2);
        font-size: $cat-btn-font-size * 1.125;
      }
      svg {
        width: 15px;
        height: 14px;
        stroke: color($color1, light, 4);
      }
    }
  }

  .bottom-center {
    grid-area: bc;
    background-color: #81e6bd;
  }

  .bottom-right {
    grid-area: br;
    display: none;
    background-color: #c8e6a2;
    @include lg {
      display: block;
    }
  }
}
