.admin-note {
  padding: 1rem 1.25rem;
  background-color: $grey-245;
  @if $border-radius-base > 0 {
    border-radius: $border-radius-base;
  }
  border-left: 4px solid $grey-220;
}

.manage-btns-cont {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  & > form, button {
    flex: 1 1 100%;

    @include sm {
      flex: unset;
    }

    button {
      width: 100%;
    }
  }
}

.form-alert-center_success {
  position: absolute;
  left: 50%;
  top: 50%;
  width: fit-content;
  translate: -50% -50%;
  padding: 0.5rem 1.75rem;
  background-color: $color-success-text;
  color: white;
  @if $border-radius-base > 0 {
    border-radius: $border-radius-base;
  }
  opacity: 0.7;
  display: none;
}