.index-search_close-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  font-size: $font-size-base;
  color: $grey-200;
  line-height: 1;
  padding-top: 4px;

  &:hover {
    color: color($color1, light, 2);
  }

  &.hidden {
    display: none;
  }
}