@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,800;1,6..12,400&display=swap");
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(47, 47, 47);
  font-family: "Nunito Sans", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.55;
}

a {
  text-decoration: none;
}

.link {
  color: #716ef6;
}
.link:hover {
  color: #9a98fb;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.75rem;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  line-height: 1.2;
}

h5 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.25rem;
  line-height: 1.2;
}

h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1rem;
  line-height: 1.2;
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.875rem;
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 2.25rem;
}

.m-6 {
  margin: 3rem;
}

.m-auto {
  margin: auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-5 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 2.25rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mt-auto {
  margin-top: auto;
}

.me-0 {
  margin-right: 0;
}

.me-1 {
  margin-right: 0.25rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.me-3 {
  margin-right: 1rem;
}

.me-4 {
  margin-right: 1.5rem;
}

.me-5 {
  margin-right: 2.25rem;
}

.me-6 {
  margin-right: 3rem;
}

.me-auto {
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 2.25rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.mb-auto {
  margin-bottom: auto;
}

.ms-0 {
  margin-left: 0;
}

.ms-1 {
  margin-left: 0.25rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.ms-3 {
  margin-left: 1rem;
}

.ms-4 {
  margin-left: 1.5rem;
}

.ms-5 {
  margin-left: 2.25rem;
}

.ms-6 {
  margin-left: 3rem;
}

.ms-auto {
  margin-left: auto;
}

.va1 {
  vertical-align: 1px;
}

.va-1 {
  vertical-align: -1px;
}

.va2 {
  vertical-align: 2px;
}

.va-2 {
  vertical-align: -2px;
}

.va3 {
  vertical-align: 3px;
}

.va-3 {
  vertical-align: -3px;
}

.va4 {
  vertical-align: 4px;
}

.va-4 {
  vertical-align: -4px;
}

.small {
  font-size: 0.875rem;
}

.xsmall {
  font-size: 0.7rem;
}

@font-face {
  font-display: block;
  font-family: "bi-light";
  src: url("main/icons/bi-light.woff2?58902910") format("woff2"), url("main/icons/bi-light.woff?58902910") format("woff");
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  display: inline-block;
  font-family: "bi-light" !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-archive:before {
  content: "\e800";
}

.icon-arrow-clockwise:before {
  content: "\e801";
}

.icon-arrow-down:before {
  content: "\e802";
}

.icon-arrow-down-left:before {
  content: "\e803";
}

.icon-arrow-down-right:before {
  content: "\e804";
}

.icon-arrow-left:before {
  content: "\e805";
}

.icon-arrow-return-left:before {
  content: "\e806";
}

.icon-arrow-right:before {
  content: "\e807";
}

.icon-arrow-up:before {
  content: "\e808";
}

.icon-arrow-up-left:before {
  content: "\e809";
}

.icon-arrow-up-right:before {
  content: "\e80a";
}

.icon-bar-chart:before {
  content: "\e80b";
}

.icon-bar-chart-fill:before {
  content: "\e80c";
}

.icon-basket:before {
  content: "\e80d";
}

.icon-bell:before {
  content: "\e80e";
}

.icon-book:before {
  content: "\e80f";
}

.icon-bookmark:before {
  content: "\e810";
}

.icon-bookmark-fill:before {
  content: "\e811";
}

.icon-box:before {
  content: "\e812";
}

.icon-box-arrow-right:before {
  content: "\e813";
}

.icon-box-arrow-up-right:before {
  content: "\e814";
}

.icon-calendar:before {
  content: "\e815";
}

.icon-caret-down:before {
  content: "\e816";
}

.icon-caret-down-fill:before {
  content: "\e817";
}

.icon-caret-left:before {
  content: "\e818";
}

.icon-caret-left-fill:before {
  content: "\e819";
}

.icon-caret-right:before {
  content: "\e81a";
}

.icon-caret-right-fill:before {
  content: "\e81b";
}

.icon-caret-up:before {
  content: "\e81c";
}

.icon-caret-up-fill:before {
  content: "\e81d";
}

.icon-cart:before {
  content: "\e81e";
}

.icon-chat:before {
  content: "\e81f";
}

.icon-chat-left:before {
  content: "\e820";
}

.icon-chat-right:before {
  content: "\e821";
}

.icon-check2-circle:before {
  content: "\e822";
}

.icon-check2-square:before {
  content: "\e823";
}

.icon-check-lg:before {
  content: "\e824";
}

.icon-chevron-double-down:before {
  content: "\e825";
}

.icon-chevron-double-left:before {
  content: "\e826";
}

.icon-chevron-double-right:before {
  content: "\e827";
}

.icon-chevron-double-up:before {
  content: "\e828";
}

.icon-chevron-down:before {
  content: "\e829";
}

.icon-chevron-left:before {
  content: "\e82a";
}

.icon-chevron-right:before {
  content: "\e82b";
}

.icon-chevron-up:before {
  content: "\e82c";
}

.icon-cloud-download:before {
  content: "\e82d";
}

.icon-credit-card:before {
  content: "\e82e";
}

.icon-dash:before {
  content: "\e82f";
}

.icon-dash-lg:before {
  content: "\e830";
}

.icon-download:before {
  content: "\e831";
}

.icon-envelope:before {
  content: "\e832";
}

.icon-exclamation-triangle:before {
  content: "\e833";
}

.icon-eye:before {
  content: "\e834";
}

.icon-eye-slash:before {
  content: "\e835";
}

.icon-folder:before {
  content: "\e836";
}

.icon-gear:before {
  content: "\e837";
}

.icon-geo:before {
  content: "\e838";
}

.icon-geo-alt:before {
  content: "\e839";
}

.icon-gift:before {
  content: "\e83a";
}

.icon-graph-up:before {
  content: "\e83b";
}

.icon-grid:before {
  content: "\e83c";
}

.icon-hand-thumbs-down:before {
  content: "\e83d";
}

.icon-hand-thumbs-down-fill:before {
  content: "\e83e";
}

.icon-hand-thumbs-up:before {
  content: "\e83f";
}

.icon-hand-thumbs-up-fill:before {
  content: "\e840";
}

.icon-heart:before {
  content: "\e841";
}

.icon-heart-fill:before {
  content: "\e842";
}

.icon-house:before {
  content: "\e843";
}

.icon-info-circle:before {
  content: "\e844";
}

.icon-key:before {
  content: "\e845";
}

.icon-link:before {
  content: "\e846";
}

.icon-link-45deg:before {
  content: "\e847";
}

.icon-list:before {
  content: "\e848";
}

.icon-list-check:before {
  content: "\e849";
}

.icon-lock:before {
  content: "\e84a";
}

.icon-pen:before {
  content: "\e84b";
}

.icon-pencil:before {
  content: "\e84c";
}

.icon-pencil-square:before {
  content: "\e84d";
}

.icon-percent:before {
  content: "\e84e";
}

.icon-person:before {
  content: "\e84f";
}

.icon-pin-angle:before {
  content: "\e850";
}

.icon-plus:before {
  content: "\e851";
}

.icon-plus-lg:before {
  content: "\e852";
}

.icon-qr-code-scan:before {
  content: "\e853";
}

.icon-question-octagon:before {
  content: "\e854";
}

.icon-receipt:before {
  content: "\e855";
}

.icon-reply:before {
  content: "\e856";
}

.icon-search:before {
  content: "\e857";
}

.icon-send:before {
  content: "\e858";
}

.icon-share:before {
  content: "\e859";
}

.icon-star:before {
  content: "\e85a";
}

.icon-star-fill:before {
  content: "\e85b";
}

.icon-star-half:before {
  content: "\e85c";
}

.icon-tag:before {
  content: "\e85d";
}

.icon-tag-fill:before {
  content: "\e85e";
}

.icon-tags:before {
  content: "\e85f";
}

.icon-tags-fill:before {
  content: "\e860";
}

.icon-telephone:before {
  content: "\e861";
}

.icon-three-dots:before {
  content: "\e862";
}

.icon-three-dots-vertical:before {
  content: "\e863";
}

.icon-trash:before {
  content: "\e864";
}

.icon-truck:before {
  content: "\e865";
}

.icon-unlock:before {
  content: "\e866";
}

.icon-upload:before {
  content: "\e867";
}

.icon-x:before {
  content: "\e868";
}

.icon-x-lg:before {
  content: "\e869";
}

button, .btn {
  display: block;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  background-color: #716ef6;
  border: none;
  border-radius: 6px;
  font-family: "Nunito Sans", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Arial", sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
}
button:hover, .btn:hover {
  background-color: #6461f1;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-top: 1rem;
}

header {
  --logo-width1: 138px;
  --logo-width2: 177px;
  --header-row1-height: 44px;
  width: 100%;
}

#desktopHeader {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: 65px;
  grid-template-areas: "bl l tr";
  align-items: center;
  background-color: #edf0f3;
}
@media only screen and (min-width: 992px) {
  #desktopHeader {
    grid-template-rows: var(--header-row1-height) 58px;
    grid-template-areas: "l tc tr" "bl bc br";
  }
}
#desktopHeader .top-center {
  grid-area: tc;
  display: none;
  background-color: #d3b8f1;
}
@media only screen and (min-width: 992px) {
  #desktopHeader .top-center {
    display: block;
  }
}
#desktopHeader .top-right {
  grid-area: tr;
  background-color: #b8f1e8;
}
#desktopHeader .bottom-left {
  grid-area: bl;
}
#desktopHeader .bottom-center {
  grid-area: bc;
  display: none;
  background-color: #81e6bd;
}
@media only screen and (min-width: 992px) {
  #desktopHeader .bottom-center {
    display: block;
  }
}
#desktopHeader .bottom-right {
  grid-area: br;
  display: none;
  background-color: #c8e6a2;
}
@media only screen and (min-width: 992px) {
  #desktopHeader .bottom-right {
    display: block;
  }
}

.header-logo {
  grid-area: l;
  justify-self: center;
}
@media only screen and (min-width: 1200px) {
  .header-logo {
    padding-right: 26px;
  }
}
@media only screen and (min-width: 992px) {
  .header-logo {
    padding-right: 18px;
    justify-self: start;
  }
}
.header-logo img {
  display: block;
  width: var(--logo-width1);
}
@media only screen and (min-width: 576px) {
  .header-logo img {
    width: var(--logo-width2);
  }
}
@media only screen and (min-width: 992px) {
  .header-logo img {
    width: var(--logo-width1);
  }
}
@media only screen and (min-width: 1200px) {
  .header-logo img {
    width: var(--logo-width2);
  }
}

.catalog-btn {
  width: var(--logo-width1);
  font-size: 16px;
  display: none;
}
@media only screen and (min-width: 992px) {
  .catalog-btn {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .catalog-btn {
    width: var(--logo-width2);
    font-size: 18px;
  }
}
.catalog-btn svg {
  width: 15px;
  height: 14px;
  stroke: #a8a6fc;
}

.catalog-btn-small {
  display: block;
  width: 40px;
  height: 40px;
  padding: 11px 0;
}
.catalog-btn-small svg {
  width: 20px;
  height: 12px;
  stroke: #a8a6fc;
  fill: none;
}
@media only screen and (min-width: 992px) {
  .catalog-btn-small {
    display: none;
  }
}

.sticky {
  position: fixed;
  top: calc(-1 * var(--header-row1-height));
}

/*
.header_row1 {
  background-color: #edf0f3;
  display: none;
  height: 44px;
  margin-top: 10px;
  @include lg {
    display: flex;
  }

  .logo-cont {
    background-color: #e3e6b8;
  }

  .nav-cont {
    background-color: #e6cdb8;
  }

  .lang-cont {
    background-color: #b8e6d4;
  }
}

.header_row2 {
  background-color: #dddaee;
  display: none;
  height: 58px;
  @include lg {
    display: flex;
  }
}

.header_mobile {
  background-color: #daeedf;
  display: flex;
  height: 62px;
  margin-top: 3px;
  @include lg {
    display: none;
  }
}

*/
footer .container {
  background-color: #dcdcdc;
}

/*# sourceMappingURL=app.css.map */
