$button-bg-color: $color1;
$button-bg-grey: $grey-235;
$button-bg-grey-hover: $grey-230;
$button-bg-red: $color-red;
$button-bg-red-hover: color($color-red, light, 1);

@mixin btn-base {
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
}

@mixin close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  font-size: $font-size-base;
  color: $grey-200;
  line-height: 1;
  padding-top: 4px;

  &:hover {
    color: color($color1, light, 2);
  }
}

button,
.btn,
.btn-2sizes {
  @include btn-base;
  width: fit-content;
  background-color: $button-bg-color;
  @if $border-radius-base > 0 {
    border-radius: $border-radius-base;
  }
  font-family: $font;
  color: white;

  &:hover {
    background-color: color($button-bg-color, dark, 1);
  }

  &:active {
    background-color: color($button-bg-color, dark, 3);
  }
}

button,
.btn {
  padding: 0.55rem 1.75rem 0.4rem 1.75rem;
  font-size: $font-size-base;
}

.btn-2sizes {
  padding: 0.5rem 1.4rem 0.35rem 1.4rem;
  font-size: $font-size-sm;
  @include md {
    padding: 0.55rem 1.75rem 0.4rem 1.75rem;
    font-size: $font-size-base;
  }
}

.btn-icon,
.btn-link {
  @include btn-base;
  background: none;
  &:hover {
    background: none;
  }
}

.btn-link {
  width: fit-content;
  text-align: inherit;
}

.btn-add {
  padding: 0.4rem 1.5rem 0.4rem 1.25rem;

  &::before {
    content: '+';
    margin-right: 0.5rem;
  }
}

.btn-bg-grey {
  color: $text-color;
  background-color: $button-bg-grey;

  &:hover {
    background-color: $button-bg-grey-hover;
  }
}

.btn-bg-red {
  color: white;
  background-color: $button-bg-red;

  &:hover {
    background-color: $button-bg-red-hover;
  }
}

.btn-inactive {
  color: $grey-180;
  background-color: $button-bg-grey;
  cursor: default;
  pointer-events: none;
}

.btn-outlined {
  color: $text-color;
  background-color: unset;
  border: 1px solid color($color1, light, 6);

  &:hover {
    background-color: unset;
    border: 1px solid color($color-red, light, 6);
  }
}

.btn-outlined-inactive {
  color: $grey-150;
  background-color: unset;
  border: 1px solid $grey-220;
  pointer-events: none;
}

// Container for button with loader on the left.
// These buttons used with ajax.
.preloader-btn-cont {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  img {
    display: none;
    height: 28px;
    opacity: 0.4;
  }
}
