.http-error-cont {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
  color: $grey-180;

  &.error-500 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}