.fade-in {
  --fade-speed: 0.2s;
  --max-opacity: 1;
  animation: fadeIn var(--fade-speed);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: var(--max-opacity); }
}

.fade-out {
  --fade-speed: 0.2s;
  --opac-value: 1;
  animation: fadeOut var(--fade-speed);
}

@keyframes fadeOut {
  0% { opacity: var(--max-opacity); }
  100% { opacity: 0; }
}
