$link-color: $color1;

.external-link::after {
  --icon: url("data:image/svg+xml,\
  <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgb(0,0,0)' stroke-width='1.6'>\
    <path stroke='none' d='M0 0h24v24H0z' fill='none'/>\
    <path d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' />\
    <path d='M11 13l9 -9' />\
    <path d='M15 4h5v5' />\
  </svg>");

  display: inline-block;
  content: '';
  -webkit-mask: var(--icon);
  mask: var(--icon);
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.185em;
  margin-left: 0.25em;
}


.link {
  cursor: pointer;
  color: $link-color;

  &.external-link::after {
    background-color: $link-color;
  }

  &:hover {
    $hover-color: color($link-color, light, 3);
    color: $hover-color;

    &.external-link::after {
      background-color: $hover-color;
    }
  }

  &:active {
    $active-color: color($link-color, dark, 4);
    color: $active-color;

    &.external-link::after {
      background-color: $active-color;
    }
  }
}

.dark-link {
  cursor: pointer;
  color: $text-color;

  &:hover {
    color: $link-color;
  }

  &:active {
    color: color($link-color, dark, 4);
  }
}

.grey-link {
  cursor: pointer;
  color: $grey-150;

  &:hover {
    color: $link-color;
  }
}

.red-link {
  cursor: pointer;
  color: $color-red;

  &:hover {
    color: color($color-red, light, 3);
  }

  &:active {
    color: color($color-red, dark, 2);
  }
}

.image-link-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $link-color;
  opacity: 0;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.1;
  }
}

.link-add {
  display: block;
  width: fit-content;

  &::before {
    content: '+';
    margin-right: 0.25rem;
  }
}
