.link {
  cursor: pointer;
  color: $color1;
  &:hover {
    color: color($color1, light, 3);
  }
}

.dark-link {
  cursor: pointer;
  color: $text-color;
  &:hover {
    color: $color1;
  }
}

.grey-link {
  cursor: pointer;
  color: $grey-150;
  &:hover {
    color: $color1;
  }
}