$link-color: $color1;

.link {
  cursor: pointer;
  color: $link-color;

  &:hover {
    color: color($link-color, light, 3);
  }

  &:active {
    color: color($link-color, dark, 4);
  }
}

.dark-link {
  cursor: pointer;
  color: $text-color;

  &:hover {
    color: $link-color;
  }

  &:active {
    color: color($link-color, dark, 4);
  }
}

.grey-link {
  cursor: pointer;
  color: $grey-150;

  &:hover {
    color: $link-color;
  }
}

.red-link {
  cursor: pointer;
  color: $color-red;

  &:hover {
    color: color($color-red, light, 3);
  }
}

.image-link-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $link-color;
  opacity: 0;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.1;
  }
}
