$modal-win-paddings: 32px;
$modal-win-paddings-sm: 20px;

.modal-container {
  position: fixed;
  top: 0;
  left: $container-x-margins;
  width: calc(100% - $container-x-margins * 2);
  height: 100%;
  z-index: 201;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-win {
  position: relative;
  //width: calc(100% - 2rem);
  min-width: 280px;
  max-width: 480px;
  background-color: white;
  @if $border-radius-base > 0 {
    border-radius: $border-radius-base;
  }
  padding: $modal-win-paddings-sm $modal-win-paddings-sm * 1.25 $modal-win-paddings-sm * 1.25 $modal-win-paddings-sm * 1.25;
  @include sm {
    padding: $modal-win-paddings $modal-win-paddings * 1.25 $modal-win-paddings * 1.25 $modal-win-paddings * 1.25;
  }
  display: none;

  .buttons-cont {
    display: flex;
    gap: 0.75rem;
    width: fit-content;
    margin: 0 auto;
  }
}

.modal-close-btn {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 16px;
  top: 16px;
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  color: $grey-200;
  cursor: pointer;
  &:hover {
    color: color($color1, light, 5);
  }
  @include sm {
    right: 18px;
    top: 18px;
  }
}

.modal-icon {
  text-align: center;
  margin-bottom: 16px;
  font-size: 54px;

  &.info, &.confirm {
    color: color($color1, light, 7);
  }
  &.success {
    color: $color-success;
  }
  &.warning {
    color: color($color-warning, light, 2);
  }
}

#authModal {
  width: 100%;
}

#clientModal {
  .modal-icon {
    display: none;
  }

  #clientCancelBtn {
    display: none;
  }
}

#flashOkBtn, #clientOkBtn {
  min-width: 110px;
}