$button-bg-color: $color1;

@mixin btn-base {
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
}

.btn {
  @include btn-base;
  padding: 0.5rem 1.75rem 0.4rem 1.75rem;
  width: fit-content;
  background-color: $button-bg-color;
  @if $border-radius-base > 0 {
    border-radius: $border-radius-base;
  }
  font-family: $font;
  font-size: $font-size-base;
  color: white;
  &:hover {
    background-color: color($button-bg-color, dark, 1);
  }
}

.btn-icon {
  @include btn-base;
  background: none;
}

.catalog-btn {
  position: relative;
  width: var(--logo-width1);
  height: 40px;
  padding: 0.55rem 0;
  font-size: $cat-btn-font-size;
  text-align: left;
  text-indent: 26px;
  @include xl {
    width: var(--logo-width2);
    text-indent: 40px;
    padding: 0.45rem 0;
    font-size: $cat-btn-font-size * 1.125;
  }
  /*
  svg {
    width: 15px;
    height: 14px;
    stroke: color($color1, light, 4);
    fill: none;
  }
  */
  .svg-catalog-list {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: 28px;
    width: 15px;
    height: 14px;
    stroke: color($color1, light, 4);
    fill: none;
    @include xl {
      margin-left: 32px;
    }
  }
  .svg-close {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: 28px;
    width: 16px;
    height: 16px;
    stroke: color($color1, light, 4);
    stroke-width: 3;
    fill: none;
    display: none;
    @include xl {
      margin-left: 32px;
    }
  }
}

.catalog-btn-mobile {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  .svg-chevron-down {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 20px;
    height: 12px;
    stroke: color($color1, light, 4);
    fill: none;
  }
  .svg-close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    stroke: color($color1, light, 4);
    stroke-width: 3;
    fill: none;
    display: none;
  }
}

.search-btn-mobile {
  width: 40px;
  height: 40px;
  padding: 5px 0;
  svg {
    width: 29px;
    height: 29px;
    stroke: $header-grey-color1;
    fill: none;
  }
}