$button-bg-color: $color1;

button, .btn {
  display: block;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  background-color: $button-bg-color;
  border: none;
  @if $border-radius-base > 0 {
    border-radius: $border-radius-base;
  }
  font-family: $font;
  font-size: $font-size-base;
  color: white;
  text-align: center;

  &:hover {
    background-color: color($button-bg-color, dark, 1);
  }
}