.carousel-prev-btn,
.carousel-next-btn {
  --btn-height: 80px;
  position: absolute;
  z-index: 5;
  top: 50%;
  margin-top: -40px;
  width: 30px;
  height: var(--btn-height);
  cursor: pointer;
  //background-color: rgba(color($color1, light, 2), 0.4);
  background-color: rgba($grey-200, 0.4);
  font-size: 32px;
  text-align: center;
  line-height: var(--btn-height);
  color: white;
  &:hover {
    background-color: rgba(color($color1, light, 2), 0.4);
  }

  &.disabled {
    //background-color: rgba(color($color1, light, 4), 0.2);
    background-color: rgba($grey-200, 0.2);
  }
}

.carousel-prev-btn {
  left: 0;
}

.carousel-next-btn {
  right: 0;
}
