.product-btn-cont {
  & > div:not(:last-child) {
    margin-bottom: 0.375em;
  }

  &.btns-row {
    display: flex;
    gap: 1.25rem;

    & > div {
      margin-bottom: 0;
    }
  }

  &.small svg {
    width: 18px;
    height: 18px;
  }
}

.product-compare-btn,
.product-favorite-btn {
  display: flex;
  gap: 0.375em;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  color: $grey-150;

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: none;
    stroke-width: 1.6;
    stroke: $grey-150;
  }

  @mixin colored {
    color: $color1;
    svg {
      stroke: $color1;
    }
  }

  @mixin light-colored {
    color: color($color1, light, 4);
    svg {
      stroke: color($color1, light, 3);
    }
  }

  &:hover {
    @include colored;
  }

  &:active {
    @include light-colored;
  }

  &.active {
    @include colored;

    &:hover {
      @include light-colored;
    }
  }
}

.compare-btn-text,
.favorite-btn-text {
  padding-top: 0.125rem;
}
