.product-btn-cont {
  & > div:not(:last-child) {
    margin-bottom: 0.375em;
  }

  &.btns-row {
    display: flex;
    gap: 1.25rem;
  }
}

.product-compare-btn,
.product-favorite-btn {
  cursor: pointer;
  color: $grey-150;

  & > span {
    margin-right: 0.125rem;
  }

  &:hover {
    color: $color1;
  }
}

.product-compare-btn.active > span {
  color: $color1;
}

.product-favorite-btn.active > span {
  color: $color-red;
}