.product-card {
  a {
    width: fit-content;
  }
}

.catalog-add-to-cart-btn {
  white-space: nowrap;
  margin-bottom: 0.8rem;
  @include md {
    margin-bottom: 0.875rem;
  }
}

.product-card_image-link {
  display: block;
  width: fit-content;
  position: relative;
  margin-bottom: 0.5rem;
  line-height: 0.8;
}

.product-card_image {
  width: var(--product-card-image);
}

.product-card_name {
  display: block;
  font-weight: $font-weight-semibold;
  font-size: $font-size-sm;
  &:hover {
    color: $color1;
  }
  @include md {
    font-size: $font-size-base;
  }
}

.product-card_description {
  color: $grey-150;
  font-size: $font-size-sm;
  display: none;
  @include md {
    font-size: $font-size-sm;
    display: block;
  }
}

.product-card_price,
.product-card_old-price {
  white-space: nowrap;
}

.product-card_price {
  font-size: $font-size-base * 1.25;
  font-weight: $font-weight-semibold;
  @include sm {
    font-size: $font-size-base * 1.5;
  }
}

.product-card_old-price {
  font-size: $font-size-base * 1;
  color: $grey-150;
  margin-bottom: -0.5rem;
  del {
    text-decoration-color: $color-red;
  }
  @include sm {
    font-size: $font-size-base * 1.125;
  }
}
