.product-card {
  a {
    width: fit-content;
  }
  button.btn-2sizes {
    margin-bottom: 0.8rem;
    @include md {
      margin-bottom: 0.875rem;
    }
  }
}

.product-card_image {
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  img {
    width: var(--product-card-image);
  }

  .tint {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color1;
    opacity: 0.06;
  }

  &:hover {
    .tint {
      display: block;
    }
  }
}

.product-card_name {
  display: block;
  font-weight: $font-weight-semibold;
  font-size: $font-size-sm;
  &:hover {
    color: $color1;
  }
  @include md {
    font-size: $font-size-base;
  }
}

.product-card_description {
  color: $grey-150;
  font-size: $font-size-sm;
  display: none;
  @include md {
    font-size: $font-size-sm;
    display: block;
  }
}

.product-card_rating {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    gap: 0.125rem;
    margin-right: 0.4rem;
    li {
      color: #fabb16;
    }
    .bi-star {
      color: #c9c9c9;
    }
  }
  div {
    color: $grey-150;
  }
}

.product-card_price {
  font-size: $font-size-base * 1.4;
  font-weight: $font-weight-semibold;
  @include sm {
    font-size: $font-size-base * 1.5;
  }
}

.product-card_buttons {
  color: $grey-150;
  & > div {
    cursor: pointer;
    &:hover {
      color: $color1;
    }
  }

  & > div:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}