.product-row {
  display: block;
  margin-bottom: 1.75rem;

  @include xs {
    display: flex;
    gap: 1.5rem;
  }
}

.product-row_group1 {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.product-row_image-cont {
  flex: 0 0 var(--product-row-image);
  width: var(--product-row-image);
  height: var(--product-row-image);
  position: relative;
  margin-bottom: 0.75rem;

  @include xs {
    margin-bottom: 0;
  }
}

.product-row_main-cont {
  flex: 1;
}

.product-row_image-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: $font-size-sm;
  line-height: 1.3;
}

.product-row_image {
  width: 100%;
}
