.product-row {
  display: block;
  margin-bottom: 1.25rem;

  @include xs {
    display: flex;
    gap: 1.5rem;
  }
}

.product-row_group1 {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.product-row_image-link {
  display: block;
  flex: 0 0 var(--product-row-image);
  width: var(--product-row-image);
  height: var(--product-row-image);
  position: relative;
  margin-bottom: 0.5rem;
  line-height: 0.8;

  @include xs {
    margin-bottom: 0;
  }
}

.product-row_image {
  width: 100%;
}