.rating {
  display: flex;
  align-items: center;

  .vote-num {
    color: $grey-150;
    padding-top: 2px;
  }
}

ul.rating-stars {
  display: flex;
  gap: 0.125rem;
  margin-right: 0.4rem;
  li {
    color: #fabb16;
  }
  .icon-star {
    color: $grey-200;
  }
}
