.test-box {
  width: 200px;
  height: 120px;
  background-color: color($color1, light, 7);
}

.fade1 {
  display: block;
  opacity: 1;
}

.fade0 {
  display: none;
}

.fade-trans {
  --fade-speed: 0.1s;
  transition: opacity var(--fade-speed) ease;
  &.fade0 {
    display: block;
    opacity: 0;
  }
}