.breadcrumb-cont {
  display: none;
  @include md {
    display: block;
  }
}

.catalog-page-wrap {
  display: flex;
  gap: 1.5rem;
}

.sidebar-cont {
  display: none;
  flex: 0 0 280px;
  @include lg {
    display: block;
  }
}

.catalog-cont {
  flex: 1;
  //background-color: #e3ece0;

  .layout-cont {
    display: flex;
    justify-content: space-between;

    .sort-cont {
      background-color: #fffde0;
    }
    .settings-cont {
      background-color: #e0f4ff;
    }
  }
}
