.promo_inactive_badge {
  width: fit-content;
  background-color: $grey-240;
  color: $grey-90;
  padding: 0.125em 1.25em 0 1.25em;
  border-radius: 1em;
}

.promo-image-cont {
  width: 100%;

  img {
    width: 100%;
  }
}