.review-cont {
  position: relative;
  margin-bottom: 2.5rem;
}

.review-id-cont {
  position: absolute;
  top: 12px;
  right: 16px;
  color: $grey-180;
  font-size: $font-size-sm;
}

.review-name-cont {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.review-avatar {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.review-name {
  font-weight: bold;
  color: $color1;
}

.review-text-block {
  margin-bottom: 1rem;

  div:first-child {
    font-weight: bold;
  }

  p:first-of-type {
    white-space: pre-wrap;
  }
}


.review-reactions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.review-reactions_up,
.review-reactions_down {
  display: flex;
  gap: 6px;
  cursor: pointer;
  color: $grey-150;
}

.review-reactions_icon {
  width: 18px;
  height: 20px;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='none' stroke='#{$grey-180}' stroke-width='1.6'><path d='M5.38549 22.1905H2.29664C1.73503 22.1905 1.27451 21.7274 1.27451 21.1625V11.6169C1.27451 11.0521 1.73503 10.5889 2.29664 10.5889H5.38549C5.9471 10.5889 6.40762 11.0521 6.40762 11.6169V21.1625C6.41886 21.7274 5.95833 22.1905 5.38549 22.1905Z' /><path d='M6.34023 11.2442C8.82254 9.31245 10.878 6.65775 10.878 3.11062C10.878 -0.560764 14.8992 1.15632 14.8992 3.94657C14.8992 5.66365 13.0459 9.84339 14.7307 9.51579C20.7736 8.31835 22.728 9.4819 20.1895 16.723C18.4036 21.7952 17.213 22.9248 15.0901 22.6085C13.2143 22.3374 6.39639 21.3433 6.39639 21.3433' /></svg>");
  background-position: center;
  background-repeat: no-repeat;
}

.review-reactions_down {
  .review-reactions_icon {
    transform: rotate(180deg);
    margin-top: 3px;
  }
}

.review-reactions_up:hover {
  color: $color1;

  .review-reactions_icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='none' stroke='#{toRGB($color1)}' stroke-width='1.6'><path d='M5.38549 22.1905H2.29664C1.73503 22.1905 1.27451 21.7274 1.27451 21.1625V11.6169C1.27451 11.0521 1.73503 10.5889 2.29664 10.5889H5.38549C5.9471 10.5889 6.40762 11.0521 6.40762 11.6169V21.1625C6.41886 21.7274 5.95833 22.1905 5.38549 22.1905Z' /><path d='M6.34023 11.2442C8.82254 9.31245 10.878 6.65775 10.878 3.11062C10.878 -0.560764 14.8992 1.15632 14.8992 3.94657C14.8992 5.66365 13.0459 9.84339 14.7307 9.51579C20.7736 8.31835 22.728 9.4819 20.1895 16.723C18.4036 21.7952 17.213 22.9248 15.0901 22.6085C13.2143 22.3374 6.39639 21.3433 6.39639 21.3433' /></svg>");
  }
}

.review-reactions_down:hover {
  color: $color-red;

  .review-reactions_icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='none' stroke='#{toRGB($color-red)}' stroke-width='1.6'><path d='M5.38549 22.1905H2.29664C1.73503 22.1905 1.27451 21.7274 1.27451 21.1625V11.6169C1.27451 11.0521 1.73503 10.5889 2.29664 10.5889H5.38549C5.9471 10.5889 6.40762 11.0521 6.40762 11.6169V21.1625C6.41886 21.7274 5.95833 22.1905 5.38549 22.1905Z' /><path d='M6.34023 11.2442C8.82254 9.31245 10.878 6.65775 10.878 3.11062C10.878 -0.560764 14.8992 1.15632 14.8992 3.94657C14.8992 5.66365 13.0459 9.84339 14.7307 9.51579C20.7736 8.31835 22.728 9.4819 20.1895 16.723C18.4036 21.7952 17.213 22.9248 15.0901 22.6085C13.2143 22.3374 6.39639 21.3433 6.39639 21.3433' /></svg>");
  }
}

.review-reactions_up.active {
  color: $color1;

  .review-reactions_icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='#{toRGB($color1)}'><path d='M4.37413 21.211H1.28228C0.720123 21.211 0.259155 20.7474 0.259155 20.182V10.6272C0.259155 10.0618 0.720123 9.59818 1.28228 9.59818H4.37413C4.93628 9.59818 5.39725 10.0618 5.39725 10.6272V20.182C5.39725 20.7474 4.93628 21.211 4.37413 21.211Z' /><path d='M13.7171 8.51265C12.0307 8.84057 13.8858 4.66809 13.8858 2.93804C13.8858 0.133772 9.86076 -1.57367 9.86076 2.10128C9.86076 5.21085 8.27549 7.65328 6.20676 9.50772C6.39789 9.83564 6.51032 10.2088 6.51032 10.6159V20.1707C6.51032 20.2951 6.49908 20.4082 6.47659 20.5213C8.48911 20.8153 12.6603 21.4259 14.0657 21.6294C16.1906 21.9347 17.3824 20.8039 19.1588 15.7269C21.7222 8.49004 19.7659 7.31406 13.7171 8.51265Z' /></svg>");
  }
}

.review-reactions_down.active {
  color: $color-red;

  .review-reactions_icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='#{toRGB($color-red)}'><path d='M4.37413 21.211H1.28228C0.720123 21.211 0.259155 20.7474 0.259155 20.182V10.6272C0.259155 10.0618 0.720123 9.59818 1.28228 9.59818H4.37413C4.93628 9.59818 5.39725 10.0618 5.39725 10.6272V20.182C5.39725 20.7474 4.93628 21.211 4.37413 21.211Z' /><path d='M13.7171 8.51265C12.0307 8.84057 13.8858 4.66809 13.8858 2.93804C13.8858 0.133772 9.86076 -1.57367 9.86076 2.10128C9.86076 5.21085 8.27549 7.65328 6.20676 9.50772C6.39789 9.83564 6.51032 10.2088 6.51032 10.6159V20.1707C6.51032 20.2951 6.49908 20.4082 6.47659 20.5213C8.48911 20.8153 12.6603 21.4259 14.0657 21.6294C16.1906 21.9347 17.3824 20.8039 19.1588 15.7269C21.7222 8.49004 19.7659 7.31406 13.7171 8.51265Z' /></svg>");
  }
}
