$scheduled-color: $color1;

main {
  padding-top: 0.5rem;

  @include lg {
    padding-top: 1rem;
  }
}

.form-label {
  color: $grey-150;
  margin-bottom: 0.25rem;
}

.text-scheduled {
  color: $scheduled-color;
}