html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $font;
  font-size: $font-size-base;
  line-height: 1.55;
}

a {
  color: $color1;
  text-decoration: none;

  &:hover {
    color: color($color1, light, 3);
  }
}

@each $size, $mult in $h-font-sizes {
  h#{$size} {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: $font-size-base * $mult;
    line-height: 1.2;
  }
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.875rem;
}

@each $key, $val in $breakpoints {
  @media only screen and (min-width: $val) {
    .container {
      max-width: map-get($container-max-widths, $key);
      @if $key == lg {
        padding: 0 1rem;
      }
    }
  }
}
