// --------------- Font and text ------------------

//@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,800;1,6..12,400&display=swap');

//$font: 'Rubik', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', 'Arial', sans-serif;
//$font: 'Mulish', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', 'Arial', sans-serif;
//$font: 'Open Sans', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', 'Arial', sans-serif;
$font: 'Nunito Sans', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', 'Arial', sans-serif;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;
$font-size-xsm: $font-size-base * .7;

$h-font-sizes: (
  1: 2.5,
  2: 2,
  3: 1.75,
  4: 1.5,
  5: 1.25,
  6: 1
);

$text-color: rgb(47, 47, 47);
$text-color-grey: rgb(128, 128, 128);
$text-color-light: rgb(194, 194, 194);



// --------------- Colors ------------------

// Main
$color1: #716ef6;
//$color2: #e2347a;
$color2: #aff66e;
$color3: #f6b56e;

// Greys
$light-grey: rgb(237, 237, 237);
$mid-grey: rgb(153, 153, 153);
$dark-grey: rgb(68, 68, 68);



// --------------- Breakpoints ------------------

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



// --------------- Container ------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);



// --------------- Spacers (for margins and paddings) ------------------

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.25,
  6: $spacer * 3,
);



// --------------- Styles ------------------

$border-radius-base: 6px;